<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/iniciodesecion.css">
    <title>Document</title>
</head>
<body>
    <div class="cont_form">
        <form class="for_inicio"  action="/iniciosesion" method="post">
            <h1 class="h1_I_S">inicio de secion</h1>
            
            <input type="text"     class="inputs" name="usuario" id="usuario" placeholder="usuario">
            <input type="password" class="inputs" name="contraseña" id="contraseña" placeholder="contraseña">
            
            <button type="submit" class="btn_ingresar"><p>ingresar</p></button>
        </form>
    </div>
</body>
</html>